html{
    background-image:url(dzphoto/background.jpg);
    margin-left: 60px;
    margin-right: 60px;
}
body a{
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.top{
    object-fit: cover;
    font-size: 50px;
    font-style: oblique;
    text-align: center;
}
.top h1{
    background-color: rgba(181,1,236,0.75);
    border-color: rgb(255,255,255);
    border-style: groove;
    border-width: 4px;
    border-radius: 10px; 
    color: rgb(255,255,255);
    font-weight: bold;
}
.pictures {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
}
.pictures img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
    border-color: rgb(255, 255, 255);
    border-style: groove;
    border-width: 10px;
    transition: transform 0.5s;
}
.pictures img:hover {
    transform: scale(1.1);
}
.pictures video {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
    border-color: rgb(255, 255, 255);
    border-style: groove;
    border-width: 10px;
    transition: transform 0.5s;
}
.pictures video:focus {
    transform: scale(1.1);
}
.text{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    font-style: oblique;
    font-weight: bold;
    gap: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.text h1{
    font-size: 120%;
    text-align:center;
    background-color: white;
    color: rgb(181,1,236);
    border-style: groove;
    border-radius: 10px;
    border-color: rgb(181,1,236);
    overflow-wrap: break-word;
}
.text p{
    background-color: rgb(181, 1, 236);
    border-color: rgb(255,255,255);
    border-style: groove;
    border-width: 4px;
    color:rgb(255, 255, 255);
    border-radius: 10px;
    overflow-wrap: normal;
}